@font-face {
    font-family: 'Fearless';
    src: url('./fonts/Fearless/StolenVersion/archivo-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./fonts/Fearless/StolenVersion/archivo-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-fearless {
    font-family: 'Fearless';
}