@font-face {
    font-family: 'Folklore';
    src: url('./fonts/Folklorevermore/imfelldwpica-regular-webfont.woff2') format('woff2'),
         url('./fonts/Folklorevermore/imfelldwpica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
