@font-face {
    font-family: 'Lover';
    src: url('./fonts/Lover/satisfy-regular-webfont.woff2') format('woff2'),
         url('./fonts/Lover/satisfy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}