@font-face {
    font-family: 'Reputation';
    src: url('./fonts/Reputation/unifrakturmaguntia-regular-webfont.woff2') format('woff2'),
         url('./fonts/Reputation/unifrakturmaguntia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}