@font-face {
    font-family: 'Speak Now';
    src: url('./fonts/SpeakNow/rochester-regular-webfont.woff2') format('woff2'),
         url('./fonts/SpeakNow/rochester-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}