@font-face {
    font-family: 'Taylor Swift';
    src: url('./fonts/TaylorSwift/sacramento-regular-webfont.woff2') format('woff2'),
         url('./fonts/TaylorSwift/sacramento-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}